---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Astro Odyssey Theme',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
	  <div slot="text-container">
		<h1>About Odyssey</h1>
		<p>
		  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, nisi
		  recusandae? Quidem dignissimos nobis, dicta unde, aperiam voluptate
		  autem iste reprehenderit, aliquam ducimus illo ea ipsum qui animi sequi.
		  Numquam.
		</p>
	  </div>
	  <picture slot="image-container">
		<img
		  src="/assets/images/Downloads/IMG_8992.jpeg"
		  alt="Astro Odyssee"
		  id="home-hero-image"
		/>
	  </picture>
	</HeroSection>
	<TextSection narrow>
	  <p>With a rich history spanning more than 50 years of expertise, Rajni Chemicals was founded in 1973 by the vision and grit of Mr. Ashok Bansilal Shah. As a trusted name in the industry, we are renowned for our unwavering commitment to total quality management in every aspect of our business.
			As a family-owned and operated business, we take great pride in our legacy and have built a strong reputation for delivering exceptional products and services to our clients. Over the years, we have forged meaningful relationships with a diverse domestic and international network of clients who trust us for our unparalleled expertise and unwavering commitment to excellence.
			Our commitment to total quality management is ingrained in our DNA. We follow stringent quality control measures at every stage of our operations to ensure that our products meet the highest standards of quality and reliability. Our team of experienced professionals diligently monitors and evaluates our processes to ensure that our clients receive nothing but the best.
			Ethics, integrity, and authenticity are the cornerstones of our business philosophy. We conduct our operations with utmost transparency, upholding the highest ethical standards in all our dealings. We believe in building trust and fostering long-term relationships with our clients, partners, and stakeholders by maintaining the highest levels of integrity in everything we do. We are proud of our legacy, expertise, and unwavering commitment to excellence.
	  </p>
	</TextSection>
  </Layout>
  