---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import {Button} from '@littlesticks/odyssey-theme-components';
import { Icon } from 'astro-icon';

const seo = {
	title: 'About | Rajni Chemical',
	description: 'About Page',
};
---

<Layout {seo}>
<!-- 	<HeroSection>
	  <div slot="text-container">
		<h1>About Odyssey</h1>
		<p>
		  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, nisi
		  recusandae? Quidem dignissimos nobis, dicta unde, aperiam voluptate
		  autem iste reprehenderit, aliquam ducimus illo ea ipsum qui animi sequi.
		  Numquam.
		</p>
	  </div>
	  <picture slot="image-container">
		<img
		  src="/assets/images/location/IMG_8992.jpeg"
		  alt="Astro Odyssee"
		  id="home-hero-image"
		/>
	  </picture>
	</HeroSection> -->
	<TextSection narrow>
		<h1>About Us</h1>
		<p>
			With a rich history spanning 50 years of expertise, Rajni Chemicals was founded in 1973 by the vision and grit of Mr. Ashok Bansilal Shah. As a trusted name in the industry, we are renowned for our unwavering commitment to total quality management in every aspect of our business.
		</p>
		<p>
			As a family-owned and operated business, we take great pride in our legacy and have built a strong reputation for delivering exceptional products and services to our clients. Over the years, we have forged meaningful relationships with a diverse domestic and international network of clients who trust us for our unparalleled expertise and unwavering commitment to excellence.
		</p>
		<picture>
			<img
			src="/assets/images/location/IMG_8992.jpeg"
			alt="Astro Odyssee"
			id="home-hero-image"
			/>
		</picture>
		<br>
	  <p>We follow stringent quality control measures at every stage of our operations to ensure that our products meet the highest standards of quality and reliability. Our team of experienced professionals diligently monitors and evaluates our processes to ensure that our clients receive nothing but the best.
	  </p>
	  <p>Ethics, integrity, and authenticity are the cornerstones of our business philosophy. We conduct our operations with utmost transparency, upholding the highest ethical standards in all our dealings. We believe in building trust and fostering long-term relationships with our clients, partners, and stakeholders by maintaining the highest levels of integrity in everything we do. We are proud of our legacy, expertise, and unwavering commitment to excellence.</p>
	
	  <h2>Our Pledge</h2>
	  <p>Corporate Social Responsibility (CSR) is a vital aspect of our business philosophy at RCIPL. As a responsible and socially-conscious company, we believe in giving back to the communities and environment in which we operate. We are committed to making a positive impact and being a responsible corporate citizen.</p>
	  <p>At RCIPL, we strive to integrate CSR into our business operations and decision-making processes. We are committed to conducting our business in an ethical and sustainable manner, while actively contributing to the well-being of society. Our CSR initiatives focus on four key pillars:</p>
	  <li><b>Environment:</b> We are committed to minimizing our environmental impact through sustainable practices. This includes reducing our carbon footprint, conserving resources, promoting waste reduction and recycling, and complying with environmental regulations. We also actively engage in environmental conservation activities such as tree plantation drives and clean-up campaigns.</li>
	  <li><b>Community Development:</b> We believe in empowering the communities in which we operate. We support initiatives that aim to improve the quality of life for underprivileged communities, promote education and skill development, and enhance healthcare facilities. We also foster collaborations with local communities to promote inclusive growth and social development.</li>
	  <li><b>Employee Welfare:</b> Our employees are our most valuable asset, and their well-being is a top priority for us. We strive to provide a safe and healthy working environment, promote diversity and inclusion, and ensure fair employment practices. We also encourage employee volunteering and engagement in social and community activities.</li>
	  <li><b>Ethical Business Practices</b> We are committed to upholding the highest standards of ethical business practices. We follow a zero-tolerance policy towards corruption, and unethical behavior. We ensure compliance with all applicable laws and regulations and promote transparency, integrity, and accountability in all our business dealings.</li>
	 <br/> 
	  <p>As a responsible corporate citizen, we are proud of our CSR efforts and remain dedicated to creating a better and more sustainable future for our stakeholders, our communities, and our pla</p>
	 <br/> 
	  <Button href="/company/contact" customIcon>
		<span id="CTA-button-text">Get in Touch</span>
			<Fragment slot="icon">
				<Icon id="CTA-button-icon" name="ic:round-keyboard-arrow-right" />
			</Fragment>
	</Button>	
	</TextSection>
  </Layout>
  
  