---
import {
	Button,
	CustomerQuoteSection,
} from '@littlesticks/odyssey-theme-components';
import StickyTextImageSection from "../components/sections/StickyTextImageSection.astro"
import { Icon } from 'astro-icon';
import Layout from '../layouts/Page.astro';
import TextAndImageHero from '../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'Landing Page #1 | Astro Odyssey Theme',
	description: 'Landing Page #1 | Astro Odyssey Theme',
};
---

<Layout {seo}>
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>Rajni Chemical</h1>
			<!-- <Logo /> -->
			<p>50+ years of excellence in the Ethoxylates industry </p>
		</div>
		<div slot="btns-container">
			<Button href="/company/contact" customIcon>
				<span id="CTA-button-text">Get in Touch</span>
				<Fragment slot="icon">
					<Icon id="CTA-button-icon" name="ic:round-keyboard-arrow-right" />
				</Fragment>
			</Button>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/Downloads/IMG_8992.jpeg"
				alt="Astro Odyssee"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>

	<CustomerQuoteSection
		quoteText="0 discharge plant, commitment to the environment and community development"
		customerName="Our philosophy"
	/>
<!-- 
	<ThreeColumnTextSection>
		<div slot="column-1-body">
			<h2>Product Name 1</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
				tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
				consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
				mollitia cumque. Velit.
			</p>
		</div>
		<Button slot="column-1-cta">Download</Button>
		<div slot="column-2-body">
			<h2>Product name 1</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
				tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
				consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
				mollitia cumque. Velit.
			</p>
		</div>
		<Button slot="column-2-cta" outlined>Download</Button>
		<div slot="column-3-body">
			<h2>Product name 1</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
				tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
				consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
				mollitia cumque. Velit.
			</p>
		</div>
		<Button slot="column-3-cta">Download</Button>
	</ThreeColumnTextSection>
 -->
	<StickyTextImageSection>
		<div slot="text-container">
			<!-- <h2>Features</h2> -->
			<h3>SEO</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
				tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
				consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
				mollitia cumque. Velit.
			</p>
			<h3>Responsive</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
				tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
				consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
				mollitia cumque. Velit.
			</p>
			<h3>Themeable</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
				tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
				consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
				mollitia cumque. Velit.
			</p>
		</div>
		<picture slot="image-container">
			<img src="/assets/images/Downloads/IMG_8985.jpeg" alt="Astro Odyssey" loading="lazy"
			/>
		</picture>
	</StickyTextImageSection>
</Layout>

<style>
	#CTA-button-text {
		font-weight: bold;
		color: white;
	}
	#CTA-button-icon {
		transform: scale(1.25);
		margin-top: 1px;
		margin-left: -4px;
	}
</style>
