---
import {
	Button,
	CustomerQuoteSection,
} from '@littlesticks/odyssey-theme-components';
import StickyTextImageSection from "../components/sections/StickyTextImageSection.astro"
import { Icon } from 'astro-icon';
import Layout from '../layouts/Page.astro';
import TextAndImageHero from '../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'Rajni Chemical Industries',
	description: 'Rajni Chemical Industries',
};
---

<Layout {seo}>
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>Rajni Chemical</h1>
			<!-- <Logo /> -->
			<!-- <p>50+ years of excellence in the Ethoxylates industry </p> -->
			<p>50+ Years of Excellence in the Surfactants Industry</p>
		</div>
		<div slot="btns-container">
			<Button href="/company/contact" customIcon>
				<span id="CTA-button-text">Get in Touch</span>
				<Fragment slot="icon">
					<Icon id="CTA-button-icon" name="ic:round-keyboard-arrow-right" />
				</Fragment>
			</Button>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/location/IMG_8992.jpeg"
				alt="Astro Odyssee"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>

	<CustomerQuoteSection
		quoteText="At RCIPL, we embrace a culture of excellence that resonates through every aspect of our operations. With an unyielding commitment to unparalleled quality, unwavering business ethics, and a genuine passion for uplifting our community, we redefine industry standards."
		customerName="Our philosophy"
	/>
	<StickyTextImageSection>
		<div slot="text-container">
			<h3>Uncompromised Quality</h3>
			<p>
			Unlock unparalleled excellence with our commitment to uncompromised quality. Our products undergo rigorous quality control measures, ensuring consistent performance and customer satisfaction. At RCIPL, we adhere to industry standards and best practices to deliver quality products.
			</p>
			<h3>Ethical Business Practices</h3>
			<p>
			At RCIPL, we prioritize conducting business with utmost integrity, ethics, and transparency. Our strong business ethics serve as the guiding principles for fostering trust and we place great emphasis on maintaining the integrity of every component within our supply chain
			</p>
			<h3>Expertise</h3>
			<p>
			With half a century of experience, we assure you reliability. Our team prioritizes long-term partnerships, swift responses, and total support for effortless and dependable business interactions. Our legacy of excellence is a true testament to our dedication to customers.
			</p>
		</div>
		<picture slot="image-container">
			<img src="/assets/images/location/IMG_8985.jpeg" alt="Astro Odyssey" loading="lazy"
			/>
		</picture>
	</StickyTextImageSection>
</Layout>

<style>
	#CTA-button-text {
		font-weight: bold;
		color: white;
	}
	#CTA-button-icon {
		transform: scale(1.25);
		margin-top: 1px;
		margin-left: -4px;
	}
</style>
